name: Sync to Secondary Repository

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Secondary Repo
        run: |
          git remote add target https://x-access-token:${{ secrets.SYNC_TOKEN }}@github.com/esspertal-create/44compan.git
          git push --force target main
